.nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: auto;
    float: inline-end;

}

.nav .logo img{
    width: 100px;
}


.nav #nav_but button{
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
    box-shadow: 50%;
    cursor: pointer;
}


#ww_e25b1873873ac {
    text-align: center;
    margin: 0 auto;
}


.h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-shadow: 2px 2px 2px skyblue;
    

}

