*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.buttons {
    margin: 10%;
    text-align: center;

}

.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    -moz-transition:  all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;

}

.btn-hover:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition:  all .4s ease-in-out;
    transition: all .4s ease-in-out;

}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-1 {
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}










header {
background: linear-gradient(35deg, #FFF2D8, #EAD7BB, #BCA37F, #113946);
padding: 50px;
text-align: center;
font-size: 15px;
color: white;

}
nav {
float: left;
width: 25%;
height: 300px;
background: rgb(12, 218, 245);
padding: 20px;
}

nav ul {
list-style-type: none;
padding: 0;
}

article {
float:right;
padding: 10px;
width: 70%;
background-color: #f1f1f1;
height: 300px;

}

section::after {
content: "";
display: table;
clear: both;
}  

footer {
background: linear-gradient(#6D6027, #D3CBB8);
padding: 10px;
text-align: center;
}
@media (max-width:600px){
    nav,article{
        width: 100%;
        height: auto;
    }
}

.list {
    background-color: #f5f5f5;
    border: 1px double orange;
    padding: 2px;
    margin-bottom: 10px;


}

.p {
    background-color: #f5f5f5;
    border: 1px double orange;
    padding: 2px;
    margin-bottom: 10px;
}


