body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

h2 {
    margin-top: 20px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 10px;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

p {
    font-weight: bold;
}

input[type="radio"],
input[type="checkbox"] {
    display: none;
}

label {
    display: flex;
    align-items: center;
}

label::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    border: 2px solid #333;
    border-radius: 50%;
    transition: background-color 0.2s, border-color 0.2s;
}

input[type="radio"] + label::before,
input[type="checkbox"] + label::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    border: 2px solid #333;
    border-radius: 2px;
    transition: background-color 0.2s, border-color 0.2s;
}

input[type="radio"]:checked + label::before,
input[type="checkbox"]:checked + label::before {
    background-color: #007bff;
    border-color: #007bff;
}